.Title{
	width: 100%;
}

/*If you wonder, the H1 is used just for SEO, so I'm going to make a logo for the Header.*/
.Title_Text{
	display: none;
	font-family: sans-serif;
	font-size: clamp(1.75rem, 1.036rem + 1.905vw, 2.75rem);
}
.Title_Logo{
	background-color: white;
	min-width: 120px;
	width: 9%;
  height: 94%;
	padding: 0 0 10px 0;
	border-radius: 100%;
}
.Title_Logo_Img{
	border-radius: 100px;
	width: 110px;
	height: 100%;
}