.Modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  place-items: center;
}
.Modal_Body {
  background-color: #fff;
  width: 50%;
  min-width: 400px;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
}
.Modal_Close {
}
