:root{
	--header-color: #07020D;
	--items-color: #F1E9DB;
	--body-color: #5DB7DE;
	--cards-color: #716A5C;
	--footer-color: #0B0316; 
}

.Header{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background: var(--header-color);
	color: var(--items-color); 
}
